.sideBarContainer {
    flex:3;
    height: calc(100vh - 70px);
    overflow-y: auto;
    position: sticky;
    top: 70px;


    .sideBarWrapper {
        padding: 20px;

       .sideBarLinks {

                        li{
                            list-style: none;
                            padding: 10px 0px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            border-bottom: 1px solid lightgrey;
                            margin-bottom: 5px;

            svg {
                margin-right: 10px;
            }
         }
       }
       button {
        width:150px;
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        margin: 10px;
       }
       .friendLinks {
                        li {
                            border-top: 1px solid lightgrey;
                            list-style: none;
                            display: flex;
                            align-items: center;
                            padding: 10px 0px;

                            img {
                                width: 32px;
                                height: 32px;
                                border-radius:50%;
                                object-fit: cover;
                            }
                            span{
                                margin-left: 10px;
                            }
                        }
       }
    }

    
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background:#f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: rgb(210, 210, 210);
}